<!doctype html>
<head>
  <title>Arsenal: Arms Race (ar)</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
  <h1><a href="http://localhost:5000/home">CSGO Game Types</a></h1>
  <img src="{{url_for('static', filename='arms.jpg')}}">
  <h2>Arsenal: Arms Race (ar)</h2>
  <h4>Based on the original Gun Game mod. The entire game consists of one round
  with infinite respawns. Eliminating the enemy upgrades the player's weapon. To win, a player must score a kill with the Gold
  Knife.</h4>
  <h3>List of ar maps</h3>
  <h4>Baggage</h4>
  <h4>Lake</h4>
  <h4>Monastery</h4>
  <h4>Safehouse</h4>
  <h4>Shoots</h4>
  <h4>St.Marc</h4>

  {%block content %} {% endblock %}

</body>
</html>
