<!doctype html>
<html>
<head>
  <title>Bomb Defusal</title>
</head>
<body>
  <h1><a href="http://localhost:5000/home">CSGO Game Types</a></h1>
  <h2>Bomb Defusal</h2>
  <h4>Bomb Defusal mode, also known as "Bomb Scenario" is considered by the
  majority of the CSGO playerbase to be the most popular and balanced game
  mode. For those reasons it's usually the only game mode used for tournaments
  or other competitive matches.</h4>

 <h3> The round winning conditions for the two teams are:</h3>
    
     <h4> Counter-Terrorists:</h4>
       <p> Run the round timer down without the Terrorists ever planting the
       C4.</p>
       <p> Defuse the C4 after it has been planted.</p>
       <p> Eliminate all Terrorists.</p>

     <h4>Terrorists:</h4>
       <p>Plant the C4 Explosive and run down its countdown timer without the
        Counter-Terrorists defusing it.</p>
       <p> Eliminate all Counter-Terrorists</p>
        
  <h3>List of de maps </h3>
  <h4>Aztec</h4>
  <h4>Cache</h4>
  <h4>Canals</h4>
  <h4>Cobblestone</h4>
  <h4>Dust</h4>
  <h4>Dust2</h4>
  <h4>Inferno</h4>
  <h4>Mirage</h4>
  <h4>Nuke</h4>
  <h4>Overpass</h4>
  <h4>Train</h4>

  {% block content %} {% endblock %}

  </body>
  </html>


