<!doctype html>
<head>
  <title>Arsenal: Demolition (de)</title>
</head>
<body>
  <h1><a href="http://localhost:5000/home">CSGO Game Types</a></h1>
  <h2>Arsenal: Demolition (de)</h2>
  <h4>Demolition is a hybrid of the Bomb Scenario mode and the Gun Game mod.
  This is due to the player having no choice in what weapon they are using, as
  any players who made a (non-team) kill that round will recieve a new weapon
  in the next round, if a player eliminates more than one enemy in a round they
  will recieve highly valued equipment like the HE grenade. Players will
  continue to hold the equipment until they are killed. Weapons and equipment
  cannot be picked up after they are dropped.

  The round winning conditions are: 
    
    Counter-Terrorists:
      Run the timer down without the bomb being planted.
      Defuse the C4 after it has been planted
      Eliminate all the Terrorists, provided they have not planted the bomb.

    Terrorists:
      Plant the C4 explosive, and prevent it from being disarmed.
      Eliminate all the Counter-Terrorists.
  </h4>
  <h4>List of de. maps</h4>
  <h4>Bank</h3>
  <h4>Lake</h3>
  <h4>Safehouse</h4>
  <h4>Shortdust</h4>
  <h4>shorttrain</h4>
  <h4>St.Marc</h4>
  <h4>Sugarcane</h4>

  {%block content %} {% endblock %}

</body>
</html>

