<!doctype html>
<head>
  <title>Deathmatch</title>
</head>
<body>
  <h1><a href="http://localhost:5000/home">CSGO Game Types</a></h1>
  <h2>Deathmatch</h2>
  <h4>Players have an infinite amounts of respawns with full armour, and can
  respawn within a few seconds of their death. After a player spawns, a
  distinctive spawning noise can be heard, and the player will be vulnerable
  for up to 6 seconds allowing the player to access a modified buy menu. Ammo
  reserves are infinite, and any weapon can be "purchased" regardless of cost
  except equipment such as grenades and the Defuse Kit. The loadout can be
  locked or random, depending on which the player chooses to use. Once the
  player begins moving or fires a weapon, invulnerability will wear off within
  a second, and the buy menu will no longer be accessible. Killing enemies or
  scoring assists will gain points instead of money or new weapons. It is also
  possible to dominate enemies in this game mode.
  
  Bonus weapons are randomly selected to give players a bonus of 5 points or
  more for 30 seconds and points are awarded for assistance. 
  
  This game type has no unique maps.</h4>

  {%block content %} {% endblock %}

</body>
</html>
