<!doctype html>
<head>
  <title>CSGO Game Types</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
  <h1><a href="http://localhost:5000/home">Counter Strike Global Offensive Game
  Type List</a></h1>
  <h2>This is a list of all Counter Strike: Global Offensive game types, as of the most recent patch (10/18/2017).</h2>
  <h3>List of Game types</h3>
  <h3><a href="http://localhost:5000/home/ar">Arsenal: Arms Race (ar )</a></h3>
  <h3><a href="http://localhost:5000/home/de">Arsenal: Demolition (de)</a></h3>
  <h3><a href="http://localhost:5000/home/hostage">Hostage Rescue (cs)</a></h3>
  <h3><a href="http://localhost:5000/home/bomb">Bomb Defusal</a></h3>
  <h3><a href="http://localhost:5000/home/deathmatch">Deathmatch</a></h3>
  {% block content %} {% endblock %}

</body>
</html>
