<!doctype html>
<html>
<head>
  <title>Hostage Rescue Maps</title>
</head>
<body>
  <h1><a href="http://localhost:5000/home">CSGO Game Types</a></h1>
  <h2>Hostage Rescue</h2>
  <h4>Hostage Rescue or Hostage Scenario is a game mode available in all of the
  Counter-Strike Games.
    
    Hostage Rescue Mode is a game mode where the round winning conditions for
    the two teams are:

    Counter-Terrorists:
      Rescue any of the hostages
      Eliminate all the Terrorists

    Terrorists
      Run the round timer down without the Counter Terrorists rescuing any
      hostages.
      Eliminate all of the Counter-Terrorists.

  Maps for this game type are prefixed with cs_.</h4>

  <h4> List of cs_ maps</h4>
  <h4>Assault</h4>
  <h4>Italy</h4>
  <h4>Militia</h4>
  <h4>Office</h4>

  {% block content %} {% endblock %}

</body>
</html>
